@import "tailwindcss";

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background:rgb(2, 48, 100);
    color: #e6edf3;
  }
}

/* maybe scrollbar styling or global link reset */
a {
  text-decoration: none;
}

input {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.center::placeholder {
  text-align: center;
  font-weight: 600;
}

