@import 'tailwindcss';

/* maybe scrollbar styling or global link reset */
a {
  text-decoration: none;
}

input {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.center::placeholder {
  text-align: center;
  font-weight: 600;
}
